nav {
    display: flex;
    text-align: center;
    background-color: lightgrey;
    margin: 5px;
    padding: 5px;
}

header {
    display: flex;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px .5px black;
    background-color: #2b4afd;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(webs.png);
}

h1 {
    text-align: center;
    background-color: #ff2424;
    border: 2px solid black;
    font-display: flex;
}

#action {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: lightsteelblue;
    border-radius: 20px;
}

h2 {
    border: 3px 2px solid;
    background-color: #2b4afd;
    width: 13%;
    display: flex;
}

.container-text {
    margin: 5px;
    padding: 5px;
    background-color: lightsteelblue;
    border-radius: 20px;
}

.container-image {
    width: 50%;
}

.container-fluid {
    width: 100%;
}
.comics {
    position: relative;
}

img {
    position: relative;
    max-width: 75%;
}

p {
    text-indent: 50px;
    font-display: flex;
}

#end {
    border-top: 2px solid black;
    text-align: center;
}
